html{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hidden{

    display: none;

}
.player{

    display: inline-block;
    margin: 2%;
    text-align: center;

}

#view{

    background-color: #000;
    color: #fff;
    width: 60%;
    height: 40%;
    margin-top: 15%;
    margin-left: 20%;
    text-align: center;
    border: solid 1px;
    padding: 3%;

}

.btn{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    border-radius: 2%;
    width: 100px;
    height: 30px;

}

.rtn{

    width: 150px;

}

.center{

    margin-left: 42.15%;

}